$(".number_of_likes-<%=@odpid%>").after("<div>Number of likes: <%= @odp2 %></div>");
$(".number_of_likes-<%=@odpid%>").remove();
$(".ans-<%=@odpid%>").after("<div>You already like it</div>");
$(".ans-<%=@odpid%>").remove();

